{% extends "../base.html" %}


{% block title %}Departamentos{% endblock title %}

{% block content %}
{% include "../includes/header.html" %}

<div class="container">
    <div class="row ">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Accion</th>

                </tr>
            </thead>
            <tbody>


                {% for e in empleados %}
                <tr>

                    <td scope="row">{{e.id}}</td>
                    <td>{{e.first_name}}</td>
                    <td>{{e.last_name}}</td>
                    <td><a href=" {% url 'persona_app:empleado-detail' e.id %} " class="btn btn-primary">Ver</a></td>




                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
</div>
{% endblock content %}

{% for e in object_list %}
<li>{{e}}</li>
{% endfor %}

</body>

</html>