<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        imagen-empleado
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href=" {% url 'persona_app:empleado-all' %} " class="nav-link px-2 link-secondary">Listar</a></li>
        <li><a href="{% url 'departamento_app:listar-departamento' %}" class="nav-link px-2 link-dark">Departamentos</a></li>
        <li><a href="{% url 'persona_app:listar-empleados-admin' %} " class="nav-link px-2 link-dark">administrar</a></li>
      
      </ul>

      <div class="col-md-3 text-end">        
        <a href="  {% url 'persona_app:agregar-empleado' %}" class="btn btn-primary">Registrar</a>
        <a href="  {% url 'departamento_app:crear-departamento' %}" class="btn btn-primary">Nuevo.Departamento</a>
      </div>
    </header>
  </div>
